# Игнорировать стандартные папки Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Pp]ackages/
/[Ll]ogs/

# Игнорировать файлы проекта и IDE
/*.csproj
/*.sln
/*.suo
/*.user
/*.unityproj
/*.pidb
/*.booproj
/.vs/
/.vscode/

# Игнорировать LFS-объекты (если они уже добавлены)
**/*.bin
**/*.asset
**/*.prefab
**/*.unity
**/*.fbx
**/*.mat
**/*.png
**/*.jpg
**/*.mp3
**/*.wav